body, html {
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.RedBorder {
    background-color: rgba(255, 0, 0, 0.2);
}

.TitleBar {
    background-color: #d5e3f3;
    color: #00326d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.SubTitleBar {
    background-color: #00326d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopLogos {
    margin-top: 20px;
    height: 100px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imageUni {
    height: 75px;
    float: left;
}

.imageTZI {
    height: 50px;
}

.right {
    float: right;
}

.left {
    text-align: left;
}

.ButtonContainer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.title {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    text-align: center;
}

.subtitle {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}

.sectionSubtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #00326d;
    font-weight: 900;
    margin-left: 2rem;
}

.sectionTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #00326d;
    font-weight: 900;
    margin-left: 2rem;
}

.sectionParagraph {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    line-height: 23px;
    font-weight: normal;
    color: rgb(60, 60, 60);
    margin-left: 2rem;
    margin-right: 2rem;
}

.contactContainer {
    background-color: rgb(213, 227, 243);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    line-height: 23px;
    font-weight: normal;
    color: rgb(60, 60, 60);
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer {

    background-color: #00326d;
    height: 200px;
    bottom: 0;

}

button {
    background-color: rgb(0, 50, 109);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-style: none;
}

button:hover {
    background-color: #d50c2f;
    cursor: pointer;
}

.labelCheckbox {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 23px;
}

.termsContainer {
    margin-left: 2rem;
}

.errorMessage {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgb(128, 23, 23);
    margin-top: 5px;
}

/*  ------------- D E M O G R A P H I C S  */

.demographicsForm {
    width: 50%;
    background-color: rgb(213, 227, 243);
    border-radius: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #bababa;
}

.Question_Demographics {
    width: 50%;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
}

.optionOther {
    margin-top: 10px;
}

.selectDemographics {
    display: block;
    width: 100%;
}

/* --------------- P R E  Q U E S T I O N N A I R E */

.preQuestionnaireContainer {
    width: 50%;
    background-color: rgb(213, 227, 243);
    border-radius: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #bababa;
}

.question_text {
    font-weight: normal;
    color: rgb(20, 20, 20)
}

.questionnaireAnswersContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.radioButtonChoice {
    margin-left: 5px;
}

.optionContainer {
    display: inline;
    margin: 1rem 4rem;
}

.notAnswered {
    border: solid rgba(227, 5, 5, 0.24);
    border-radius: 10px;
}


/* ------ P O S T  Q U E S T I O N A I R E ------*/
.SliderContainer{
    width: 100%;
    display: block;
    text-align: center;

}

.sliderQuestion {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #9ebbdd;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  .sliderQuestion:hover {
    opacity: 1;
  }
  
  .sliderQuestion::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #14437a;
    cursor: pointer;
    border:none;
  }
  
  .sliderQuestion::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #14437a;
   cursor: pointer;
    border:none;
  }

  .EngagementLabelsContainer{
      width: 100%;
      height: 30px;
  }



/*  ------------- G E N E R A L  */

select {
    border: solid rgb(0, 50, 109) 0.5px;
    border-radius: 5px;
}

input[type=text] {
    border: solid rgb(0, 50, 109) 0.5px;
    border-radius: 5px;
}

.separatorQuestionnaire {
    width: 70%;
    max-width: 300px;
    border-top: 1px solid rgb(0, 50, 109);
}

.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}


.videoContainer{
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.videoContainer::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  
  .videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.textDescription{
    text-align: center;
    margin-bottom: 35px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


/*  ------------- R E S P O N S I V E  */

@media only screen and (max-width: 600px) {
    .imageUni {
        max-height: 35px !important;
        clip: rect(0, 40px, 36px, 0);
        position: absolute;
        left: 15px;
    }
    .imageTZI {
        max-height: 35px !important;
    }
    .TopLogos {
        height: 50px;
    }
    .demographicsForm {
        width: 90%;
        border-radius: 20px;
    }
    .preQuestionnaireContainer {
        width: 90%;
        border-radius: 20px;
    }
    .optionContainer {
        display: block;
    }
}